rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // قواعد مؤقتة للسماح بإرسال البيانات التجريبية
    // يجب تغييرها بعد إرسال البيانات
    match /{document=**} {
      allow read, write: if true;
    }
  }
}